<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C'Groovy | K-Pop</title>
    <link rel="stylesheet" href="../Style/style.css">
</head>
<body>
<header>
        <div class="container">
            <div class="logo">
                <a href="../View/index.html"> C'Groovy </a>
             </div>
            <nav>
                <ul>
                    <li><a href="../View/index.html">Home</a></li>
                    <li><a href="../View/aboutus.html">About Us</a></li>
                    <li class="dropdown"><a href="../../View/songs.html" class="dropbtn">Song Colletion</a>
                        <ul class="dropdown-content">
                            <li><a href="../View/kpop.html">K-Pop</a></li>
                            <li><a href="../View/rnb.html">R&B</a></li>
                            <li><a href="../View/pop.html">Pop</a></li>
                        </ul>
                    </li>
                    <li><a href="../View/register.html" class="button"> Register</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="genre-list">
            <div class="container">
                <h1>K-Pop</h1>
                <div class="genre-grid">
                    <div class="genre-grid-item" data-song-id="7">
                        <img src="../Images/Kpop/ab67616d0000b2735c2254d6d7618143e23f7fdb.jpg" alt="mockup">
                        <h3>SOBER</h3>
                        <p>BIGBANG || 03:58</p>
                    </div>
                    <div class="genre-grid-item" data-song-id="8">
                        <img src="../Images/Kpop/artworks-000084792366-7oqcdc-t500x500.jpg" alt="mockup">
                        <h3>눈, 코, 입 (Eyes Nose Lips)</h3>
                        <p>태양 (TaeYang) || 03:53</p>
                    </div>
                    <div class="genre-grid-item" data-song-id="9">
                        <img src="../Images/Kpop/https___images.genius.com_008470d3faefd4df5d16937f926bf6d4.1000x1000x1.jpg" alt="mockup">
                        <h3>Hype Boys</h3>
                        <p>New Jeans || 02:58</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
            <div class="container">
                <p>
                    &copy; 2025 C'Groovy. All Rights Reserved 
                </p>
                <div class="social">
                    <a href="#">Facebook</a>
                    <a href="#">Instagram</a>
                    <a href="#">Twitter</a>
                </div>
            </div>
        </footer>

    <!-- Add to all HTML files that use sd.js -->
<script src="../script/jquery-3.6.0.js"></script>
<script src="../script/sd.js"></script>
</body>
</html>